# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env
.env.local

# Vercel
.vercel

# Backups
*.backup
*.bak

# Archivos temporales
tmp/
temp/
